<!-- <h1 class="title">Hello Angular</h1> -->
<!-- <button class="btn btn-success">Submit</button> -->
<!-- Không cần import do cùng module quản lý -->
<!-- <app-demo></app-demo>
<app-header></app-header>
<app-sidebar></app-sidebar>
<app-content></app-content>
<app-footer></app-footer> -->

<!-- <app-ex2></app-ex2> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-attribute-directive></app-attribute-directive> -->

<!-- ng-content -->
<!-- <app-card>
    <p slot="header">Product</p>
    <div slot="body">
        <h4 class="card-title">Iphone 13 Pro max</h4>
        <p class="card-text">35000000</p>
    </div>
    <button slot="footer" class="btn btn-success">Add to cart</button>
</app-card>

<app-card>
    <p slot="header">Student</p>
    <div slot="body">
        <h4 class="card-title">Phan Ánh Ngọc</h4>
        <p class="card-text">BC20</p>
    </div>
    <button slot="footer" class="btn btn-success">Submit</button>
</app-card> -->

<!-- <app-interaction></app-interaction> -->

<!-- <app-ex8></app-ex8> -->

<!-- sẽ luôn hiển thị, ko bị re-render khi thay đổi url -->
<h1>Angular App</h1>
<a routerLink="/">Home </a>
<a routerLink="/data-binding">Data Binding</a>
<a routerLink="/structural-directive">Structural directive</a>
<a routerLink="/attribute-directive">Attribute directive</a>
<!-- So url với path, nếu khớp sẽ render ra trang (component) tương ứng -->
<router-outlet></router-outlet>